{
  "printWidth": 140,
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "parser": "typescript"
}
